{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}

{% block javascript %}
<script src="{{url_for('static',filename='js/home.js')}}"></script>
{% endblock %}

{% block content %}
<div class="px-4 py-5 my-2 text-center">
    <h1 class="display-5 fw-bold">5g新時代</h1>
    <div class="col-lg-6 mx-auto">
        {% for banner in banners %}
        <p class="lead mb-2 fs-5">{{banner}}</p>
    {% endfor %}      
    </div>
</div>
{% endblock %}